div.contenido {
  display: flex;
  background-color: #f7f7f7;
}

/* Tarjeta del formulario de registro */
.tarjeta-producto {
  padding-left: 40px;
  width: 600px;
}

.tarjeta-producto h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

/* Acomodo de los inputs y labels */
.grupo-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.grupo-form label {
  flex: 1;
  text-align: left;
  font-size: 16px;
  padding-right: 10px;
}

div.contenido .tarjeta-producto input {
  flex: 1.5;
  position: static;
  left: 0;
  width: 100%;
  padding: 8px;
  border: 2px solid #888;
  font-size: 14px;
}
.grupo-form textarea {
  flex: 1.5;
  position: static;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 8px;
  border: 2px solid #888;
  font-size: 14px;
  resize: vertical; /* Permite redimensionar verticalmente */
}

.btn-crear {
  width: 35%;
  padding: 10px;
  left: 65%;
  background-color: #7ce086;
  border: 2px solid #4bb856;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
}

.btn-actualizar {
  width: 35%;
  padding: 10px;
  left: 65%;
  background-color: #7ce086;
  border: 2px solid #4bb856;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
}
