/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 18 may 2026, 9:42:30 p.m.
    Author     : edgar
*/
body {
    background-color: #0f0f0f;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 600; /* texto más grueso */
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* altura del header */
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    z-index: 1000;
    background-color: #3d3d3d;
}

/* Sidebar */
.sidebar {
    background-color: #181818;
    color: #fff;
    width: 220px;
    height: calc(100vh - 60px); /* resta la altura del header */
    position: fixed;
    left: 0;
    top: 60px; /* empieza justo debajo del header */
    transition: transform 0.3s ease;
}
.sidebar.hidden {
    transform: translateX(-100%);
}
.sidebar a {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.sidebar a:hover {
    background-color: #282828;
}

/* Botón hamburguesa */
#toggleSidebar {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
}

/* Perfil */
.profile img {
    width: 60px;
    height: 60px;
    margin-right: 150px;
    border-radius: 50%;
    cursor: pointer;
}
.dropdown {
    position: absolute;
    width: 400px;
    top: 50px;
    background-color: #202020;
    border: 1px solid #333;
    display: none;
}
.dropdown.show {
    display: block;
}
.dropdown a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}
.dropdown a:hover {
    background-color: #383838;
}

/* Contenido principal */
h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
}
.subtitulo {
    color: #aaa;
    font-size: 1.1em;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #181818;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: 700;
}
main {
    margin-top: 80px; /* espacio para no quedar debajo del header */
    margin-left: 240px; /* espacio para no quedar debajo del sidebar */
    padding: 20px;
    text-align: center;
    transition: margin-left 0.3s ease;
}
